<h1>Exiting groups</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Admin</th>
	</tr>
	<tr>
		<% @groups.each do |group| %>
			<% membership =  Membership.find_by(group_id: group[:id])%>
			<tr>
				<td><%= group.name %></td>
				<td>
					<% if membership && membership[:admin] %>
						admin
					<% end %>
				</td>
				<td><%= link_to 'view', group_path(group)%></td>
				<td><%= link_to 'leave'%></td>
			</tr>
	<% end %>
	</tr>
</table>

<%= link_to 'Back', user_path(@user) %>